</main>
  
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
<script src="/scripts/main.js"></script>
<footer>
  <div class="about">
    <h4>About Us</h4>
    <p>We provide awesome services</p>
  </div>
  <div class="social-icons">
    <a href="https://github.com/benard2002" target="_blank">
      <i class="uil uil-github"></i>
    </a>
    <a href="https://twitter.com/ben_code3" target="_blank">
      <i class="uil uil-twitter-alt twitter"></i>
    </a>
  </div>
  <div class="copy">
    <p>&copy; <%=new Date().getFullYear()%> My website. All Rights Reserved.</p>
  </div>
</footer>

</body>

</html>