
<%-include("Partials/header.ejs")%>

    <div class="about-container">
        <h1 class="about-title">About Me</h1>
        <img src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png" alt="me" class="about-img">
        <div class="about-intro">
          <p>Hi, I'm <strong>Bernard</strong>, a Python and Web Developer in training. I'm passionate about electrical power systems, coding, and creating web applications.</p>
        </div>
        <p>Welcome to my website!I enjou web development, where I'm learning to build applicatins with python and Js.</p>
        <p>I'm taking courses in Python and Web Development by Angela Yu, and I spend my days honing my skills in coding. When I'm not working on projects, I enjoy exercising. Feel free to connect with me if you'd like to know more!</p>
    </div>

  <%-include('Partials/footer.ejs')  %>